src/main/resources/wsdl/address.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				  xmlns:tns="com/maxopus/enterprise/services"
				  xmlns:common="com/maxopus/enterprise/services/common" 
				  xmlns:address="com/maxopus/enterprise/services/address"
			   	  xmlns:serviceability="com/maxopus/enterprise/services/serviceability" 
			      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
				  xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
				  targetNamespace="com/maxopus/enterprise/services"> 
				  <!-- name="EnterpriseAddressSoapEndpointImplService" --> 
				  
  <wsdl:types>
  	
  	<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			   xmlns:common="com/maxopus/enterprise/services/common" 
			   attributeFormDefault="unqualified" 
			   elementFormDefault="unqualified" 
			   targetNamespace="com/maxopus/enterprise/services/common">
		  
		  <xs:element name="charterHeaderInputInfo" nullable="true" type="common:StandardInputHeader"/>
		  <xs:element name="charterHeaderOutputInfo" nullable="true" type="common:StandardOutputHeader"/>
	  	   
		  <xs:complexType name="StandardInputHeader">
			<xs:sequence>
			  <xs:element name="clientIp" type="xs:string"/>
			  <xs:element name="clientHostName" type="xs:string"/>
			  <xs:element name="clientCallingService" type="xs:string"/>
			  <xs:element name="auditUser" type="xs:string"/>
			  <xs:element name="transactionId" type="xs:string"/>
			  <xs:element minOccurs="0" name="overrideCache" type="xs:boolean"/>
			</xs:sequence>
		  </xs:complexType>
		  <xs:complexType name="StandardOutputHeader">
			<xs:sequence>
			  <xs:element minOccurs="0" name="auditUser" type="xs:string"/>
			  <xs:element minOccurs="0" name="server" type="xs:string"/>
			  <xs:element minOccurs="0" name="transactionId" type="xs:string"/>
			</xs:sequence>
		  </xs:complexType>
		  <xs:complexType name="EnterpriseServiceException">
		    <xs:sequence>
		      <xs:element minOccurs="0" name="message" type="xs:string"/>
		    </xs:sequence>
		  </xs:complexType>
	</xs:schema>
	
	<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			   xmlns:common="com/maxopus/enterprise/services/common"
			   xmlns:address="com/maxopus/enterprise/services/address" 
			   attributeFormDefault="unqualified" 
			   elementFormDefault="unqualified" 
			   targetNamespace="com/maxopus/enterprise/services/address">
	  
	  <xsd:import namespace="com/maxopus/enterprise/services/common"/>
	  	  		   
	  <xs:element name="addressRequest" type="address:StreetAddressRequest"/>
	  <xs:element name="addressResponse" type="address:StreetAddressResponse"/>  
	  <xs:element name="addressServiceException" type="address:AddressServiceException"/>
	  
	  <xs:complexType abstract="true" name="address">
		<xs:sequence>		  
		  <xs:element name="addressSubType" type="address:addressSubType"/>
		  <xs:element minOccurs="0" name="id" type="xs:long"/>
		  <xs:element minOccurs="0" name="sourceSystemAddressId" type="xs:string"/>
		</xs:sequence>
	  </xs:complexType>
	  
	  <xs:complexType name="addressSubType">
		<xs:sequence>
		  <xs:element minOccurs="0" name="addressSubTypeDescription" type="xs:string"/>
		  <xs:element name="id" type="xs:string"/>
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="StreetAddressRequest">
		<xs:sequence>
		  <xs:element name="addressLine1Text" type="xs:string"/>
		  <xs:element minOccurs="0" name="addressLine2Text" type="xs:string"/>
		  <xs:element minOccurs="0" name="addressLine3Text" type="xs:string"/>
		  <xs:element minOccurs="0" name="cityName" type="xs:string"/>
		  <xs:element minOccurs="0" name="territory" type="xs:string"/>
		  <xs:element name="zipCode" type="xs:string"/>		  
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="StreetAddressResponse">
		<xs:sequence>
		  <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="address:streetAddress"/>
		  <xs:element minOccurs="0" name="charterHeaderOutput" type="common:StandardOutputHeader"/>
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="streetAddress">
		<xs:complexContent>
		  <xs:extension base="address:address">
			<xs:sequence>
			  <xs:element minOccurs="0" name="type" type="xs:string"/>
		  	  <xs:element minOccurs="0" name="serviceabilityMatch" type="xs:string"/>		  
			  <xs:element minOccurs="0" name="addressLine1Text" type="xs:string"/>
			  <xs:element minOccurs="0" name="addressLine2Text" type="xs:string"/>
			  <xs:element minOccurs="0" name="addressLine3Text" type="xs:string"/>
			  <xs:element minOccurs="0" name="carrierRouteText" type="xs:string"/>
			  <xs:element minOccurs="0" name="cityName" type="xs:string"/>
			  <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
			  <xs:element minOccurs="0" name="fullPostalCodeText" type="xs:string"/>          
			  <xs:element minOccurs="0" name="territoryCode" type="xs:string"/>
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="AddressServiceException">
	  	<xs:complexContent>
		  <xs:extension base="common:EnterpriseServiceException">
		    <!-- <xs:sequence>
		      <xs:element minOccurs="0" name="message" type="xs:string"/>
		    </xs:sequence> -->
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>  
	</xs:schema>
	
	<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			   xmlns:common="com/maxopus/enterprise/services/common"
			   xmlns:address="com/maxopus/enterprise/services/serviceability" 
			   attributeFormDefault="unqualified" 
			   elementFormDefault="unqualified" 
			   targetNamespace="com/maxopus/enterprise/services/serviceability">
	  
	  <xsd:import namespace="com/maxopus/enterprise/services/common"/>
	  	  		   
	  <xs:element name="serviceabilityByPostalCodeRequest" type="serviceability:ServiceabilityByPostalCodeRequest"/>
	  <xs:element name="serviceabilityByPostalCodeResponse" type="serviceability:ServiceabilityByPostalCodeResponse"/>
	  <xs:element name="serviceAbilityServiceException" type="serviceability:ServiceAbilityServiceException"/>
	  
	  <xs:complexType name="ServiceabilityByPostalCodeResponse">
	    <xs:sequence>
	      <xs:element minOccurs="0" name="serviceabilityResult" type="serviceability:serviceabilityResult"/>
	      <xs:element minOccurs="0" name="charterHeaderOutput" type="common:StandardOutputHeader"/>
	    </xs:sequence>
	  </xs:complexType>
  
  	  <xs:complexType name="serviceabilityResult">
	    <xs:sequence>
	      <xs:element maxOccurs="unbounded" minOccurs="0" name="lineOfBusinessServiceabilities" nillable="true" type="serviceability:lineOfBusinessServiceability"/>
	    </xs:sequence>
	  </xs:complexType>
  	  
  	  <xs:complexType name="lineOfBusinessServiceability">
	    <xs:sequence>
	      <xs:element minOccurs="0" name="name" type="xs:string"/>
	      <xs:element minOccurs="0" name="serviceable" type="xs:boolean"/>
		  <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceabilityFeatures" nillable="true" type="serviceability:serviceabilityFeature"/>
	    </xs:sequence>
	  </xs:complexType>
	  
	  <xs:complexType name="serviceabilityFeature">
	    <xs:sequence>
	    	<xs:element minOccurs="0" name="name" type="xs:string"/>
      		<xs:element minOccurs="0" name="value" type="xs:string"/>
	    </xs:sequence>
	  </xs:complexType>
	  
	  <xs:complexType name="ServiceabilityByPostalCodeRequest">
	    <xs:sequence>
	      <xs:element name="postalCode" type="xs:long"/>
	    </xs:sequence>
	  </xs:complexType>
	    
	  <xs:complexType name="ServiceAbilityServiceException">
	  	<xs:complexContent>
		  <xs:extension base="common:EnterpriseServiceException">
		    <!-- <xs:sequence>
		      <xs:element minOccurs="0" name="message" type="xs:string"/>
		    </xs:sequence> -->
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>	  
	  
	</xs:schema>
	
  </wsdl:types>
  
  <wsdl:message name="addressRes">
    <wsdl:part element="address:addressResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="EnterpriseAddressServiceException">
    <wsdl:part element="address:addressServiceException" name="addressServiceException"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="EnterpriseServiceAbilityServiceException">
    <wsdl:part element="serviceability:serviceAbilityServiceException" name="serviceAbilityServiceException"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="addressReq">
    <wsdl:part element="address:addressRequest" name="parameters"></wsdl:part>
    <wsdl:part element="common:charterHeaderInputInfo" name="charterHeaderInput"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="serviceabilityByPostalCodeReq">
    <wsdl:part element="serviceability:serviceabilityByPostalCodeRequest" name="parameters"></wsdl:part>
    <wsdl:part element="common:charterHeaderInputInfo" name="charterHeaderInput"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="serviceabilityByPostalCodeRes">
    <wsdl:part element="serviceability:serviceabilityByPostalCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="EnterpriseAddressDataService">    
    <wsdl:operation name="findAddresses">
      <wsdl:input message="tns:addressReq" name="addressReq"></wsdl:input>
      <wsdl:output message="tns:addressRes" name="addressRes"></wsdl:output>
      <wsdl:fault message="tns:EnterpriseAddressServiceException" name="enterpriseAddressServiceException"></wsdl:fault>
    </wsdl:operation>   
  </wsdl:portType>
  <wsdl:portType name="EnterpriseServiceAbilityDataService">    
    <wsdl:operation name="findServiceabilityByPostalCode">
      <wsdl:input message="tns:serviceabilityByPostalCodeReq" name="serviceabilityByPostalCodeReq"></wsdl:input>
      <wsdl:output message="tns:serviceabilityByPostalCodeRes" name="serviceabilityByPostalCodeRes"></wsdl:output>
      <wsdl:fault message="tns:EnterpriseServiceAbilityServiceException" name="enterpriseServiceAbilityServiceException"></wsdl:fault>
    </wsdl:operation>   
  </wsdl:portType>
  <wsdl:binding name="EnterpriseAddressSoapEndpointImplServiceSoapBinding" type="tns:EnterpriseAddressDataService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>    
    <wsdl:operation name="findAddresses">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addressReq">
        <soap:header message="tns:addressReq" part="charterHeaderInputInfo" use="literal"></soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="addressRes">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="enterpriseAddressServiceException">
        <soap:fault name="tns:EnterpriseAddressServiceException" use="literal"/>
      </wsdl:fault>   
    </wsdl:operation>    
  </wsdl:binding>
  <wsdl:binding name="EnterpriseSercviceAbilityBinding" type="tns:EnterpriseServiceAbilityDataService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findServiceabilityByPostalCode">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="serviceabilityByPostalCodeReq">
        <soap:header message="tns:serviceabilityByPostalCodeReq" part="charterHeaderInputInfo" use="literal"></soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="serviceabilityByPostalCodeRes">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="enterpriseServiceAbilityServiceException">
        <soap:fault name="tns:EnterpriseServiceAbilityServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnterpriseAddressSoapEndPointImplService">
    <wsdl:port name="EnterpriseAddressDataServicePort" binding="tns:EnterpriseAddressSoapEndpointImplServiceSoapBinding">
      <soap:address location="http://localhost:11/enterprise-service/services/address"/>
    </wsdl:port>    
  </wsdl:service>
  <wsdl:service name="EnterpriseSercviceAbilitySoapEndPointImplService">
    <wsdl:port name="EnterpriseServiceAbilityDataServicePort" binding="tns:EnterpriseSercviceAbilityBinding">
      <soap:address location="http://localhost:11/enterprise-service/services/serviceability"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>